.all {
color: silver;
background: url('../resources/img/config/background.jpg') repeat 0 0;
font-family: 'Courier New';
margin-top: 30px;
margin-left: 10px;
}

input.form {
background-color:silver;
color: black;
}

.textform {
background: grey;
color: black;
background-size: 100px 100px;
}

input.form2 {
background-color:silver;
color: black;
width: 140px;
}

input.form3 {
background-color:silver;
color: black;
width: 100px;
}

input.button {
background-color:grey;
}

.pict {
cursor: pointer;
}

.bodyclass h1 {
color: silver;
font-size: 40px;
}

.bodyclass h2 {
color: silver;
font-size: 26px;	
margin-bottom: 40px;
}

.area {
background-color:silver;
}