<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Silex Project</a>
    </div>
    <div class="nav-collapse collapse">
      <span class="navbar-text pull-right"><a href="">?</a></span>
    </div>
  </div>
  <img class="arrow-bot" src="resources/img/map/arrowbot.png">
</div>

<div class="navbar navbar-bottom">
  <div class="navbar-inner">
    <ul class="nav">
      <li><a href=""><img src="resources/img/map/params.png"></a></li>
      <li><a href=""><img src="resources/img/map/map.png"></a></li>
      <li><a href=""><img src="resources/img/map/editor.png"></a></li>
      <li><a href=""><img src="resources/img/map/upload.png"></a></li>
    </ul>
  </div>
</div>
