<div class="navbar navbar-inverse navbar-fixed-top expandable">
  <div class="navbar-inner">
    <div class="container">
      <span class="brand">Silex Project</span>
    </div>
    <div class="nav-collapse collapse">
      <span class="navbar-text pull-right"><a href="">?</a></span>
    </div>
    <div id="hover-header">
      <img src="resources/img/header/overview.png" width="19" height="19" />
      <img src="resources/img/header/save.png" width="19" height="19" />
      <img src="resources/img/header/close.png" width="15" height="19" />
    </div>
  </div>

  <img class="arrow-bot" src="resources/img/map/arrowbot.png">
</div>


<div class="navbar navbar-bottom">
  <div class="navbar-inner">
    <ul class="nav">
      <li><a href=""><img src="resources/img/map/params.png"></a></li>
      <li><a href="/#map"><img src="resources/img/map/map.png"></a></li>
      <li><a href="/#editor"><img src="resources/img/map/editor.png"></a></li>
      <li><a href=""><img src="resources/img/map/upload.png"></a></li>
    </ul>
  </div>
</div>
