<div class="navbar navbar-inverse navbar-fixed-top expandable">
  <div class="navbar-inner">
    <div class="container">
      <span class="brand">Silex Project</span>
    </div>
    <div class="nav-collapse collapse">
      <span class="navbar-text pull-right"><a href="">?</a></span>
    </div>
    <div id="hover-header">
      <img src="resources/img/header/overview.png" width="19" height="19" />
      <img src="resources/img/header/save.png" width="19" height="19" />
      <img src="resources/img/header/close.png" width="15" height="19" />
    </div>
  </div>

  <img class="arrow-bot" src="resources/img/map/arrowbot.png">
</div>
